<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">

    <title><%= title %></title>
  </head>
  <body>
    <h1>You're lost!</h1>
    <p>Go <a href="/">here</a> to find your way back.</p>
  </body>
</html>
