
<div ng-controller="ForgotPasswordCtrl" ng-init="email=''">
  <br><br>
  <div class="container-fluid">
    <div class="panel panel-info" style="max-width: 500px; display: block; margin:auto;" ng-hide="emailSent">
      <div class="panel-heading">
        <h3 class="panel-title">Forgot your password?</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-1">
            <span class="lead glyphicon glyphicon-exclamation-sign"></span>
          </div>
          <div class="col-md-11">
            <p>
              Please enter your email address below. Instructions will be sent to the email address for retrieving your account. Thank you!
            </p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <form ng-submit="RetrieveAccount(email)">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input ng-model="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" required="" />
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-info btn-block" ladda="loading" data-style="expand-right" data-spinner-size="10">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-success" style="max-width: 500px; display: block; margin:auto;" ng-show="emailSent">
      <div class="panel-heading">
        <h3 class="panel-title">Success</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-1">
            <span class="lead glyphicon glyphicon-envelope"></span>
          </div>
          <div class="col-md-11">
            <p>
              An email was sent to <strong>{{email==''? "email address":email}}</strong>. If no email is received after 24 hours, please resend the request. Thank you!
            </p>
            <p>
              <a href="/login" class="btn btn-default">
                Go back to Login page
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>
</div>
