.navbar {
  background-color: #ffffff;
  border-bottom: 0;
  margin-bottom: 0;
}

.navbar-brand {
  padding: 0;
}

#navbar-links>li>a {
  color: #000000;
}

#navbar-links>li>a:hover {
  color: #a7a7a7;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  font-weight: bold;
  background-color: transparent;
}

@media only screen and (min-width : 941px){
  body {
    padding-top: 85px;
  }

  .navbar-brand {
    height: 85px;
    width: 470px;
    padding-top: 0;
  }

  #navbar-links>li>a {
    margin-top: 15px;
  }
}

@media only screen and (max-width : 940px){
  body {
    padding-top: 50px;
  }

  .navbar-brand {
    width: 235px;
    height: auto;
    padding-top: 3px;
  }
}

@media only screen and (max-width : 320px){
  body {
    padding-top: 50px;
  }

  .navbar-brand {
    width: 230px;
    height: auto;
    padding-top: 3px;
  }
}

#loading-bar .bar {
  background-color: rgba(39, 96, 179, 0.8) !important;
}
