<!-- Author: michaelbraga -->
<br><br>
<!-- StyleSheets -->
<link rel="stylesheet" href="/assets/admin/css/manage-fiesta/manage-fiesta.css"/>
<link rel="stylesheet" href="/assets/admin/css/manage-fiesta/btn-outline.css"/>
<link rel="stylesheet" href="/assets/admin/css/manage-fiesta/commodity-filter.css"/>
<link rel="stylesheet" href="/assets/admin/css/manage-fiesta/create-fiesta-modal.css"/>
<link rel="stylesheet" href="/assets/admin/css/manage-fiesta/fiesta-list.css"/>
<link rel="stylesheet" href="/assets/admin/css/manage-fiesta/fiesta-panel-heading.css"/>
<link rel="stylesheet" href="/assets/admin/css/manage-fiesta/list-view-options.css"/>
<link rel="stylesheet" href="/assets/admin/css/manage-fiesta/manage-fiesta-panel.css"/>
<link rel="stylesheet" href="/assets/admin/css/manage-fiesta/tool.css"/>
<link rel="stylesheet" href="/assets/admin/css/common/centered-modal.css"/>

<!-- Manage Fiesta -->
<div id="manage-fiesta-container">
  <manage-fiesta-panel>
    <!-- Panel for displaying fiestas -->
  </manage-fiesta-panel>

  <create-fiesta-modal>
    <!-- Modal for creating a fiesta  -->
  </create-fiesta-modal>
</div>
