<ul class="social-sharing fixed hidden-xs">
  <li class="socials community">
    <a target="_blank" title="Join our community" ng-href="/">
      <img id="logo" ng-src="assets/common/images/socials/community.png">
    </a>
  </li>
  <li class="socials facebook">
    <a id="facebook" target="_blank" title="Like us on Facebook" ng-href="https://www.facebook.com/PCAARRD">
      <i class="fa fa-facebook"></i>
    </a>
  </li>
  <li class="socials twitter">
    <a target="_blank" title="Follow us on Twitter" ng-href="https://twitter.com/dostpcaarrd">
      <i class="fa fa-twitter"></i>
    </a>
  </li>
  <li class="socials youtube">
    <a target="_blank" title="Subscribe on our channel" ng-href="https://www.youtube.com/channel/UCcrb__kJo7NCYYlbjwAGVwA">
      <i class="fa fa-youtube"></i>
    </a>
  </li>
  <!-- <li class="socials google-plus">
    <a target="_blank" title="Add us to your circle" ng-href="https://plus.google.com/+DOSTPCAARRD">
      <i class="fa fa-google-plus"></i>
    </a>
  </li> -->
  <li class="socials newsletter">
    <a title="Email Us" ng-href="mailto:pcaarrd@pcaarrd.dost.gov.ph">
      <i class="fa fa-envelope"></i>
    </a>
  </li>
</ul>
<link rel="stylesheet" href="assets/common/css/socials/socials.css">
