<div class="panel panel-default" ng-init="selected = ''">
  <!-- Panel Title -->
  <div class="panel-heading" >
    <div class="row">
      <div class="col-md-12">
        <h3 class="panel-title">Content</h3>
      </div>
    </div>
  </div>

  <!-- Panel Body -->
  <div class="panel-body" ng-init="writeup = {title:'', authors:[], body:''}">
    <div class="list-group">
      <li class="list-group-item">
        <div class="no-data-large" ng-if="(fiesta.editorial.title=='')">
          <span class="glyphicon glyphicon-text-size"></span> <br/><br/>
          <span class="lead">Add Editorial in the Fiesta</span>
          <span class="text-muted">
            <p>No Editorial added in the fiesta.
              <a href data-toggle="modal" data-target="#editContent" ng-click="select(null, 'Editorial')">
                Add one
              </a>?
            </p>
          </span>
        </div>
        <table ng-if="!(fiesta.editorial.title=='')" style="width:100%; height:100%">
          <tr>
            <small><strong class="text-muted">Editorial</strong></small>
          </tr>
          <tr>
            <td class="col-md-11 text-left">
              <h3>
                <a href style="color:black;" data-toggle="modal" data-target="#viewContent" ng-click="select(fiesta.editorial, 'Editorial')">{{fiesta.editorial.title}}</a>
              </h3>
              <span class="small text-muted" ng-if="fiesta.editorial.authors.length > 0">
                By &nbsp;
              </span>
              <span ng-repeat="auth in fiesta.editorial.authors track by $index">
                {{auth.name}} <em class="small">({{auth.position}})</em><span ng-hide="$last">, </span>
              </span>
            </td>
            <td class="col-md-1">
              <table style="height:100%">
                <tr>
                  <td><a href data-toggle="modal" data-target="#editContent" ng-click="select(fiesta.editorial, 'Editorial')"><span class="glyphicon glyphicon-edit" tooltip-placement="left" uib-tooltip="Edit Details"></span></a></td>
                </tr>
                <tr>
                  <td><a href data-toggle="modal" data-target="#editThumbnail" ng-click="editImage('Editorial')"><span class="glyphicon glyphicon-camera" tooltip-placement="left" uib-tooltip="Edit Thumbnail"></span></a></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <br>
      </li>
      <li class="list-group-item">
        <div class="no-data-large" ng-if="(fiesta.infocus.title=='')">
          <span class="glyphicon glyphicon-eye-open"></span> <br/><br/>
          <span class="lead">Add In-Focus in the Fiesta</span>
          <span class="text-muted">
            <p>No In-Focus added in the fiesta. <a href data-toggle="modal" data-target="#editContent" ng-click="select(null, 'In-Focus')">Add one</a>?</p>
          </span>
        </div>
        <table ng-if="!(fiesta.infocus.title=='')" style="width:100%; height:100%">
          <tr>
            <small><strong class="text-muted">In Focus</strong></small>
          </tr>
          <tr>
            <td class="col-md-11 text-left">
              <h3>
                <a href style="color:black;" data-toggle="modal" data-target="#viewContent" ng-click="select(fiesta.infocus, 'In-Focus')">{{fiesta.infocus.title}}</a>
              </h3>
              <span class="small text-muted" ng-if="fiesta.infocus.authors.length > 0">
                By &nbsp;
              </span>
              <span ng-repeat="auth in fiesta.infocus.authors track by $index">
                {{auth.name}} <em class="small">({{auth.position}})</em><span ng-hide="$last">, </span>
              </span>
            </td>
            <td class="col-md-1">
              <table style="height:100%">
                <tr>
                  <td><a href data-toggle="modal" data-target="#editContent" ng-click="select(fiesta.infocus, 'In-Focus')"><span class="glyphicon glyphicon-edit" tooltip-placement="left" uib-tooltip="Edit Details"></span></a></td>
                </tr>
                <tr>
                  <td><a href data-toggle="modal" data-target="#editThumbnail" ng-click="editImage('In-Focus')"><span class="glyphicon glyphicon-camera" tooltip-placement="left" uib-tooltip="Edit Thumbnail"></span></a></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <br>
      </li>
      <li class="list-group-item">
        <div class="no-data-large" ng-if="(fiesta.fiestaval.title=='')">
          <span class="glyphicon glyphicon-list-alt"></span> <br/><br/>
          <span class="lead">Add Fiestaval in the Fiesta</span>
          <span class="text-muted">
            <p>No Fiestaval added in the fiesta. <a href data-toggle="modal" data-target="#editContent" ng-click="select(null, 'Fiestaval')">Add one</a>?</p>
          </span>
        </div>
        <table ng-if="!(fiesta.fiestaval.title=='')" style="width:100%; height:100%">
          <tr>
            <small><strong class="text-muted">Fiestaval</strong></small>
          </tr>
          <tr>
            <td class="col-md-11 text-left">
              <h3>
                <a href style="color:black;" data-toggle="modal" data-target="#viewContent" ng-click="select(fiesta.fiestaval, 'Fiestaval')">{{fiesta.fiestaval.title}}</a>
              </h3>
                <span class="small text-muted" ng-if="fiesta.fiestaval.authors.length > 0">
                  By &nbsp;
                </span>
              <span ng-repeat="auth in fiesta.fiestaval.authors track by $index">
                {{auth.name}} <em class="small">({{auth.position}})</em><span ng-hide="$last">, </span>
              </span>
            </td>
            <td class="col-md-1">
              <table style="height:100%">
                <tr>
                  <td><a href data-toggle="modal" data-target="#editContent" ng-click="select(fiesta.fiestaval, 'Fiestaval')"><span class="glyphicon glyphicon-edit" tooltip-placement="left" uib-tooltip="Edit Details"></span></a></td>
                </tr>
                <tr>
                  <td><a href data-toggle="modal" data-target="#editThumbnail" ng-click="editImage('Fiestaval')"><span class="glyphicon glyphicon-camera" tooltip-placement="left" uib-tooltip="Edit Thumbnail"></span></a></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <br>
      </li>
    </div>
    <edit-content></edit-content>
    <view-content></view-content>
  </div>
</div>
