.crumbs.active > a, .crumbs.active > a:hover {
  cursor: default;
  color: grey;
  text-decoration: none;
}
.tech-image {
  min-height: 350px;
  background-repeat: no-repeat;
  background-position: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-size: cover;
}
.tech-image > p.small {
  position: absolute;
  top: 322px;
  right: 5px;
  color: white;
  background-color: rgba(0,0,0,.4);
  padding: 3px 10px;
  border-radius: 3px;
}
.tech-info {
  display: block;
  margin: auto;
  width: 80%;
}

.tech-info > h4.small.text-muted.text-uppercase {
  padding: 5px;
  border-left: 2px solid grey;
  margin-left: 1px;
  font-size: 1rem;
}
