<div class="">

  <about ng-if="show['about'] "  ng-controller="AboutCtrl">
  </about>

  <executive ng-if="show['executive'] "  ng-controller="ExecutiveCtrl">
  </executive>

  <featured-technologies ng-if="show['feat-tech'] "  ng-controller="FeaturedTechCtrl">
  </featured-technologies>

  <content ng-if="show['content'] "  ng-controller="ContentsCtrl">
  </content>

  <profile ng-if="show['profile'] "  ng-controller="ProfilesCtrl">
  </profile>

  <event ng-if="show['events'] "  ng-controller="EventsCtrl">
  </event>

  <activities ng-if="show['activities'] "  ng-controller="ActivitiesCtrl">
  </activities>

  <awards ng-if="show['awards'] "  ng-controller="AwardsCtrl">
  </awards>

  <posters ng-if="show['posters'] "  ng-controller="PostersCtrl">
  </posters>

  <photos ng-if="show['photos'] "  ng-controller="PhotosCtrl">
  </photos>

  <videos ng-if="show['videos'] "  ng-controller="VideosCtrl">
  </videos>

  <blogs ng-if="show['blogs'] "  ng-controller="BlogsCtrl">
  </blogs>

  <more ng-if="show['more'] "  ng-controller="MoreCtrl">
  </more>
</div>
