<img
  src="/assets/admin/images/manage-fiesta/fiesta-label.png"
  alt="Fiesta Label"
  id="fiesta-label"/>

<button class="btn btn-default" id="create-fiesta-button" type="button"
  popover-placement="left" uib-popover="Create a Fiesta" popover-trigger="'mouseenter'"
  data-toggle="modal" data-target="#createFiesta">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
</button>
