<div class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <h4><b>STAY CONNECTED</b></h4>
        <div class="container row" id="stay-conn-info">
          <ul>
            <li><a><i class="fa fa-phone fa-fw"></i> (63)(049)536-0014</a></li>
            <li><a><i class="fa fa-envelope fa-fw"></i> pcaarrd@pcaarrd.dost.gov.ph</a></li>
            <li><a href="http://www.pcaarrd.dost.gov.ph" target="_blank"><i class="fa fa-globe fa-fw"></i> http://www.pcaarrd.dost.gov.ph</a></li>
            <li><a><i class="fa fa-map-marker fa-fw"></i> DOST-PCAARRD, Los Baños, Laguna</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <h4><b>GET INVOLVED</b></h4>
        <ul>
          <li><a href="https://www.facebook.com/PCAARRD" target="_blank"><i class="fa fa-facebook fa-fw"></i> Like us on Facebook</a></li>
          <li><a href="https://twitter.com/dostpcaarrd" target="_blank"><i class="fa fa-twitter fa-fw"></i> Follow us on Twitter</a></li>
          <li><a href="https://www.youtube.com/channel/UCcrb__kJo7NCYYlbjwAGVwA" target="_blank"><i class="fa fa-youtube-play fa-fw"></i> Subscribe on our Channel</a></li>
          <li><a href="https://plus.google.com/+DOSTPCAARRD" target="_blank"><i class="fa fa-google-plus fa-fw"></i> Add us to your Circle</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <h4><b>ABOUT DPITC</b> </h4>
        <p>A One-Stop-Shop 'Convergence Hub' for inventors and technology users in the agriculture, aquatic, and natural resources sectors in the Philippines within every Juan's reach.</p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">© Copyright 2016. DOST-PCAARRD. All rights reserved.</div>
  </div>
</div>

<link rel="stylesheet" href="assets/common/css/footer/footer.css">
