
<div class="panel panel-default">
  <div class="panel-heading fiesta-list-panel-heading text-right">
    <fiesta-panel-heading>
      <!-- Contains the following: -->
        <!-- Image of fiesta label at the upper left side of the panel -->
        <!-- Button for creating a fiesta -->
    </fiesta-panel-heading>
  </div>
  <div class="panel-body text-center" ng-controller="ManageFiestaListCtrl">
    <manage-fiesta-list>
      <!--  -->
    </manage-fiesta-list>
  </div>
</div>
